html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  top: 0;
  font-family: 'Lora', serif;
}

.main-nav {
  background-color: rgb(10, 59, 71);
}

.nav-text {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  margin: auto 1rem auto 0;
}

.page-title {
  color: rgb(248, 248, 248);
}

.main-container {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid rgb(182, 182, 182);
}

.auth-button {
  text-align: center;
  background-color:  rgb(10, 59, 71);
  color: rgb(248, 248, 248);
  margin: 0.5rem;
}

.button-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Lora', serif;
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(77, 77, 77, 0.2);
  font-size: small;
}

.lower-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.chess-board {
  /* border: 1px solid black;
  height: 70vh;
  width: 75vh; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 3vh 5vw 0 5vw;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.chess-row {
  display: flex;
  flex-direction: row;
}

.chess-square {
  margin: 0;
  height: 8.75vh;
  width: 9.375vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-piece {
  height: 70%;
  width: 70%;
  /* -webkit-filter: drop-shadow( 1px 2px 2px rgba(230, 230, 230, 0.7)); */
  filter: drop-shadow( -0.5px 2px 1px rgba(204, 204, 204, 0.7));
}

.chess-piece:hover {
  height: 75%;
  width: 75%;
}

.history-container {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 3vh 5vw 0 5vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.history-title {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  margin-top: 2vh;
  text-decoration: underline;
}

.history-entry {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
}

/* Gets rid of scrollbar */
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}